<!doctype html>
<html lang="en">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Local CSS -->
    <link rel="stylesheet" href="CSS/list.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Cairo:wght@500&family=Cookie&family=Dancing+Script:wght@600&family=Satisfy&display=swap" rel="stylesheet">
    <title>User List Page</title>
    
</head>

<body>

    <section id="intro-section">
                

        <!---->
            <nav class="navbar navbar-expand-lg navbar-dark">
                
                <img src="images/Logo1.png" alt="_logo" id="kh">
                <p class="navbar-brand">Knowledge Hub</p><br>
                <small id="navbar-brand-small">by IIIT Sonepat</small>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <form action="/hpage" method="post">
                                <button class="btn libtn" type="submit">
                                    <p class="libtn-txt">HomePage</p> 
                                </button>   
                            </form>                                                    
                        </li>                        
                        <li class="nav-item dropdown">
                            <button class="nav-link btn" id="userOptions" data-toggle="dropdown">
                                <p id="uo-text">                                
                                    <%= name[0].charAt(0) + name[1].charAt(0) %>
                                  </p>
                            </Button>
                            <div class="dropdown-menu" id="dpdmnu">
                              <form action="/logout" method="post">
                                <% let usr = "admin"; %>
                                <button class="dropdown-item" type="submit" name="usr" value="<%= usr %>">Logout</button>
                              </form>                                
                            </div>
                        </li>              
                    </ul>
                </div>        
                
            </nav>
            <div id="intro-div">
                <h1 id="NAME">User List</h1><br>
            </div>
            
            
    </section>


    <section id="list">
        <%if(ULst.length===0){%>
            <h1 id="no-member">No Registered Students</h1>
        <%}%>
        <%if(ULst.length > 0){%>
        <table>
            <thead>
                <td>KnowledgeHub ID</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Email-ID</td>
                <td>Date Of Birth</td>
                <td>Gender</td>
            </thead>
            <tbody>
                <%for(var i=0; i < ULst.length; i++){%>
                    <%var date = ULst[i].UDateOfBirth;%>
                    <%var option = {year: "numeric", month: "short", day: "numeric"};%>
                    <%var dob = date.toLocaleDateString('en-us',option);%>
                    <tr></tr>
                        <td><%=ULst[i].khID %></td>
                        <td><%=ULst[i].Ufname %></td>
                        <td><%=ULst[i].Ulname %></td>
                        <td><%=ULst[i].Uemail %></td>
                        <td><%=dob%></td>
                        <td><%=ULst[i].UGender %></td>
                    </tr>
                <%}%>
            </tbody>
        </table>
        <%}%>
    </section>

    <section id="footer">
        <br><br><br>
        This website is created by Sameer, Abhinav and Harsh. We are students of IT branch, 3rd Semester in IIIT Sonepat institute. <br> 
        If you wish to contact us for any issue related to our website, you can contact us on this Gmail ID: <a href="mailto:practicum.team3@gmail.com">practicum.team3@gmail.com</a>
        <br><br>
        ⓒ Copyright 2022. All rights reserved.
        <br><br><br>
    </section>
    


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>

